@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
}

#root {
  background: linear-gradient(black 25%, rgb(31, 41, 54) 58%, black 15%);
  min-height: 100vh;
}

body {
  background: rgb(31, 41, 55);
}

.nav {
  z-index: 10;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  /* background-image: linear-gradient(transparent, transparent), linear-gradient(#F2C, rgb(60, 34, 255)) */
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000, #fff);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
  line-height: 1.2;
}

.custom-modal {
  width: 80%; /* Adjust the width as needed */
  height: 80%; /* Adjust the height as needed */
  overflow: auto; /* Add overflow property if content exceeds modal size */
  background: linear-gradient(black 25%, rgb(31, 41, 54) 58%, black 15%) !important;
  border-color: #e5e7eb;
  color: #e5e7eb;
  border-radius: 10px; /* Optional: Add border radius for rounded corners */
}

.task-list {
  list-style-type: none; /* Remove default bullet points */
}

.task-list li:before {
  content: "\2022"; /* Unicode character for bullet point */
  color: white; /* Set color to white */
  display: inline-block;
  width: 1em; /* Adjust the width of the bullet point as needed */
  margin-left: -1em; /* Move the bullet point to the left of the list item */
}

.project-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.project-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.video-container {
  margin-bottom: 20px;
}

.project-description {
  margin-bottom: 20px;
}

.tasks {
  margin-bottom: 20px;
}

.tasks h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.tasks ul {
  list-style-type: none;
  padding: 0;
}

.tasks li {
  margin-bottom: 5px;
}

/* Style for iframe */
iframe {
  width: 100%;
  height: 400px;
}

.custom-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Change overlay background color */
}

.portfolio,
.contact {
  margin-top: 5%;
}

.experience {
  margin-top: 12%;
}
@media (max-width:638px){
  .experience{
    margin-top: 150% !important;
  }
}
@media (min-width:767px){

  .styletip{
    height: 232px;
  }
}
@media (max-width:767px){

  .styletip{
    height: auto;
  }
}

@media (min-width: 768px){

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 0.2fr)) !important;
    margin: 0 auto !important;
    justify-content: center !important;
  }
}
.nav-links {
  text-underline-offset: 1rem;
}
/* modal-styles.css */
.ReactModal__Overlay {
  /* Your overlay styles here */
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.md\:h-screen{
  height: 75vh !important;
}
.ReactModal__Content {
  /* Your content styles here */
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  right: 32% !important;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc; 
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
@media  (max-width:767px){
  .ReactModal__Content {
   
    right: -32% !important;
    
  }
}
@media  (min-width:768px) and (max-width:1440px){
  .ReactModal__Content {
   
    right: 20% !important;
    
  }
}
@media screen and (max-width: 900px) {

  #root {
    background: linear-gradient(rgb(31, 41, 55) 20%, black 20%, rgb(31, 41, 55) 65%, black 25%);
    min-height: 100vh;
  }

  .about,
  .contact,
  .portfolio,
  .experience,
  .home {
    text-align: center;
    height: 100%;
  }

  .about,
  .portfolio,
  .experience {
    margin-top: 10%;
  }

  .home img {
    margin-top: 25%;
  }

  .small-screen {
    display: block;
  }

  .big-screen {
    display: none;
  }

  .gap-8 {
    gap: 4rem;
  }

  .home h2 {
    font-size: 2.7rem;
    line-height: 3rem;
    margin-top: 7%;
  }

  .portfolio-btn {
    margin: auto;
  }

  .px-12 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}